/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
    background: #3A3B3C;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-nombre {
    display: flex;
    align-items: center;
}

nav .logo-imagen {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-imagen img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-nombre .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;

}

nav .menu-elementos {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.menu-elementos {
    position: relative;
    left: -30px;
}

.menu-elementos li {
    list-style: none;
}

.menu-elementos li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.menu-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-elementos li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-elementos li a .link-nombre {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-nombre {
    opacity: 0;
    pointer-events: none;
}

.menu-links li a:hover i,
.menu-links li a:hover .link-nombre {
    color: var(--primary-color);
}

body.dark .menu-links li a:hover i,
body.dark .menu-links li a:hover .link-nombre {
    color: var(--text-color);
}

.menu-elementos .logout-mode {
    width: 250px;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-elementos .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-elementos .mode-toggle {
    position: absolute;
    right: -40px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard-principal {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard-principal {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard-principal .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard-principal .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard-principal .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard-principal .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard-principal .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.cantidad-input {
    max-width: 40%; /* Ajusta el ancho según tus necesidades */
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-nombre {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-nombre {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard-principal {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard-principal {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard-principal .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard-principal .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-nombre {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-nombre {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard-principal {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard-principal {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard-principal .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard-principal .top {
        left: 0;
        width: 100%;
    }

    nav .logo-imagen {
        display: none;
    }
}




/* Estilos tablas*/
.table-wrapper {
    background-color: #fff;
    /* padding: 20px 25px; */
    margin: 6px 0px 40px 0px;
    width: 100%;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.table-title {
    background: #353b48;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px 30px;
    border-radius: 0px 0px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 17px;
}



table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 400;
    vertical-align: middle;
}

/*COn esto el checkbox inicial tiene ancho fijo*/
table.table tr th:first-child {
    width: 30px;
}

/*COn esto la columna final de los botones tiene ancho fijo y pega a la derecha*/
table.table tr th:last-child {
    width: 100px;
}

/*COn esto las filas impares tienen un color medio gris*/
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

/*esto seria para cuando el curso se ponga encima de una fila*/
table.table-striped.table-hover tbody tr:hover {
    background-color: #e7e0eefb;
}
/*para los iconoes de eliminar y guardar*/
table.table th i {
    font-size: 27px;
    margin: 6px 5px;
    cursor: pointer;
}



table.table td a:hover {
    color: #2196F3;
}

.edit {
    color: #FFC107;
}

.delete {
    color: #F44336;
}


.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
    text-decoration: none;
}

.pagination li a:hover {
    color: #666;
}


.pagination li.disabled i {
    color: #ccc;

}

.pagination li i {
    font-size: 16px;
    padding-top: 6px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/*--Fin estilos tabla----*/

.alerta-delete {
    color: red
}

/* prueba*/
/* estilo para nombre y descripcion*/
th.table-text-wrap, 
td.table-text-wrap {
    max-width: 300px;
    /* Ajusta el ancho máximo según tus necesidades */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

th.descripcion-text-wrap, 
td.descripcion-text-wrap {

    max-width: 500px;
    /* Ajusta el ancho máximo según tus necesidades */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

th.descripcion-productos-text-wrap{
    max-width: 250px;
}

@media (max-width: 1024px) {
    th.descripcion-text-wrap,
    td.descripcion-text-wrap {
        min-width: 250px;       
    }
}



/* estilo para nombre y descripcion*/

/* estilo para imagen*/
.medium-image {
    object-fit: cover;
    max-width: 250px;
    height: auto;
}

/* estilo para imagen*/

.descripcion-oculta {
    max-width: 300px;
    max-height: 3.4rem;
    /* Aproximadamente dos líneas de texto */
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .descripcion-oculta{
        min-width: 200px;
    }
}


.my-custom-modal.modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

.error-mensajito{
    color: red;
}

.imagenPreview{
    margin: auto;
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.imagen-media{
    margin: auto;
    object-fit: cover;
    max-width: 300px;
    height: auto;
}